<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.technical-outer {margin-top:100px;}

.technical-inner {box-shadow:0px 5px 35px rgba(0, 0, 0, 0.06);background-color:white;margin-left:5%; margin-right:3%; position:relative; ;height:auto;position:relative; display:block; clear:both;padding:2%; margin-bottom:80px;}

.tech-col-1 {width:20%;display:inline-block;vertical-align:top;padding: 5% 0px 7.5% 5.5%;}

.tech-col-1 h4 {font-size: 20px; color:#9EA0A6;}

.tech-col-1 h5 {font-size: 20px;}

img.main-img {position:absolute; width:100px; left:-5%;top:10%;}

.tech-col-2 {width:39%; display:inline-block; vertical-align:top; }

.sheet-box {background-color:#006DB8; border-radius:10px; margin:40px 20px; padding:7.5%;color:white;position:relative;}

.sheet-box a {color:white;font-size:12px !important; text-transform:uppercase; }

.sheet-box a:hover {color:white !important;}

.sheet-box p {font-size:9px; margin-bottom:0px;}

img.download-icon {position:absolute; right:7.5%;top: 30px;}

.page-id-1059 .product-border {color:#016CB8; border-color:#016CB8;}
/*
.x-section{
z-index:2!important;} */
</style>
<!-- end Simple Custom CSS and JS -->
