<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.entrance-col::after {transition:300ms; content:''; top:0; right:0; bottom:0; left:0; background:#F7F7F7; opacity:0.8; position:absolute; border-radius:10px;}

.entrance-col {height:80vh; padding:30px; width:100%; border-radius:10px; box-shadow:0px 0px 20px 5px rgba(0, 0, 0, 0.07);}

.e1191-12 .entrance-col.entrance-bulk {background: url('/wp-content/uploads/2020/02/74e3d0b243ed0f2d134c0c14c2fb1eae-2-scaled.png')!important; background-size:cover!important;}

.entrance-title {transition:300ms; margin-top: 35vh;position:relative; z-index:99999; text-align:center; font-weight:bold; font-size:14px; color:black;}

.entrance-reveal {transition:300ms; position:relative; z-index:99999; display:none;color:white;font-size:14px; text-align:center;}

.entrance-col.entrance-trade {background: url('/wp-content/uploads/2020/04/NEW-PACKED.png')!important; background-size:cover!important;}

.entrance-col.entrance-diy {background: url('/wp-content/uploads/2020/04/Tarmac-Mastercrete-bags-on-line.png')!important; background-size:cover!important;}

.entrance-col:hover .entrance-title {color:white !important;margin-top:30vh !important;}

.entrance-col:hover:after {opacity:1; background: rgba(0,109,184,0.80015756302521);}

article#post-1191 {background:url('/wp-content/uploads/2020/01/big-blue-entrance.png'); background-size:contain; background-position:top right; background-repeat:no-repeat;}

.entrance-col:hover .entrance-reveal {display:block;}

.application-button .x-anchor-text-primary{
	font-size:10px!important
}</style>
<!-- end Simple Custom CSS and JS -->
