<!-- start Simple Custom CSS and JS -->
<style type="text/css">
/* DIY tabs */

.page-id-517 li#menu-item-842, .page-id-1006 li#menu-item-842, .page-id-1023 li#menu-item-842 {
    background-color: #006DB8;
}

.page-id-1413 #menu-item-842, .page-id-1398 #menu-item-842, .page-id-1416 #menu-item-842, .page-id-1401 #menu-item-842, .page-id-1395 #menu-item-842, .page-id-1392 #menu-item-842, .page-id-1404 #menu-item-842, .page-id-1407 #menu-item-842, .page-id-1419 #menu-item-842, .page-id-517 li#menu-item-842 span.x-anchor-text-primary, .page-id-1006 li#menu-item-842 span.x-anchor-text-primary, .page-id-1023 li#menu-item-842 span.x-anchor-text-primary {
    color: white !important;
}


/* trade tabs */

.page-id-1505 li#menu-item-516, .page-id-1248 li#menu-item-516, .page-id-938 li#menu-item-516, .page-id-955 li#menu-item-516, .single li#menu-item-516, .page-id-878 li#menu-item-516, .page-id-883 li#menu-item-516, .page-id-553 li#menu-item-516, .page-id-280 li#menu-item-516, .page-id-930 li#menu-item-516, .page-id-511 li#menu-item-516, .page-id-1132 li#menu-item-516, .page-id-507 li#menu-item-516, .page-id-307 li#menu-item-516, .page-id-332 li#menu-item-516, .page-id-350 li#menu-item-516, .page-id-339 li#menu-item-516, .page-id-328 li#menu-item-516, .page-id-360 li#menu-item-516, .page-id-335 li#menu-item-516, .page-id-312 li#menu-item-516, .page-id-363 li#menu-item-516, .page-id-317 li#menu-item-516, .page-id-342 li#menu-item-516, .page-id-356 li#menu-item-516, .page-id-347 li#menu-item-516, .page-id-325 li#menu-item-516, .page-id-1212 li#menu-item-516, .page-id-1214 li#menu-item-516 {
    background-color: #006DB8;
}


.page-id-1505 li#menu-item-516 span.x-anchor-text-primary, .page-id-1248 li#menu-item-516 span.x-anchor-text-primary, .page-id-938 li#menu-item-516 span.x-anchor-text-primary, .page-id-955 li#menu-item-516 span.x-anchor-text-primary, .single li#menu-item-516 span.x-anchor-text-primary, .page-id-878 li#menu-item-516 span.x-anchor-text-primary, .page-id-883 li#menu-item-516 span.x-anchor-text-primary, .page-id-553 li#menu-item-516 span.x-anchor-text-primary, .page-id-280 li#menu-item-516 span.x-anchor-text-primary, .page-id-930 li#menu-item-516 span.x-anchor-text-primary, .page-id-511 li#menu-item-516 span.x-anchor-text-primary, .page-id-1132 li#menu-item-516 span.x-anchor-text-primary, .page-id-507 li#menu-item-516 span.x-anchor-text-primary, .page-id-307 li#menu-item-516 span.x-anchor-text-primary, .page-id-332 li#menu-item-516 span.x-anchor-text-primary, .page-id-350 li#menu-item-516 span.x-anchor-text-primary, .page-id-339 li#menu-item-516 span.x-anchor-text-primary, .page-id-328 li#menu-item-516 span.x-anchor-text-primary, .page-id-360 li#menu-item-516 span.x-anchor-text-primary, .page-id-335 li#menu-item-516 span.x-anchor-text-primary, .page-id-312 li#menu-item-516 span.x-anchor-text-primary, .page-id-363 li#menu-item-516 span.x-anchor-text-primary, .page-id-317 li#menu-item-516 span.x-anchor-text-primary, .page-id-342 li#menu-item-516 span.x-anchor-text-primary, .page-id-356 li#menu-item-516 span.x-anchor-text-primary, .page-id-347 li#menu-item-516 span.x-anchor-text-primary, .page-id-325 li#menu-item-516 span.x-anchor-text-primary, .page-id-1212 li#menu-item-516 span.x-anchor-text-primary, .page-id-1214 li#menu-item-516 span.x-anchor-text-primary {
  color: white !important; }

/* Bulk tabs */

 .page-id-216 li#menu-item-515, .page-id-390 li#menu-item-515, .page-id-405 li#menu-item-515, .page-id-208 li#menu-item-515, .page-id-384 li#menu-item-515, .page-id-18 li#menu-item-515, .page-id-71 li#menu-item-515, .page-id-74 li#menu-item-515, .page-id-113 li#menu-item-515, .page-id-110 li#menu-item-515, .page-id-116 li#menu-item-515, .page-id-119 li#menu-item-515, .page-id-122 li#menu-item-515, .page-id-125 li#menu-item-515, .page-id-128 li#menu-item-515, .page-id-131 li#menu-item-515, .page-id-134 li#menu-item-515, .page-id-166 li#menu-item-515, .page-id-211 li#menu-item-515, .page-id-193 li#menu-item-515, .page-id-137 li#menu-item-515, .page-id-140 li#menu-item-515, .page-id-202 li#menu-item-515, .page-id-146 li#menu-item-515, .page-id-222 li#menu-item-515, .page-id-197 li#menu-item-515, .page-id-219 li#menu-item-515, .page-id-143 li#menu-item-515, .page-id-436 li#menu-item-515, .page-id-424 li#menu-item-515, .page-id-440 li#menu-item-515, .page-id-432 li#menu-item-515, .page-id-467 li#menu-item-515, .page-id-454 li#menu-item-515, .page-id-461 li#menu-item-515, .page-id-458 li#menu-item-515, .page-id-464 li#menu-item-515, .page-id-443 li#menu-item-515 {
    background-color: #006DB8;
}

  .page-id-216 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-18 li#menu-item-515 span.x-anchor-text-primary,
.page-id-390 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-71 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-74 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-113 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-110 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-116 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-119 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-122 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-125 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-128 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-131 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-134 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-166 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-211 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-193 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-137 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-140 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-202 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-146 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-222 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-197 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-219 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-143 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-436 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-424 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-440 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-432 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-467 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-454 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-461 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-458 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-464 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-405 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-208 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-384 li#menu-item-515 span.x-anchor-text-primary,
  .page-id-443 li#menu-item-515 span.x-anchor-text-primary {
  color: white !important; }

.e844-4.x-bar.x-bar-top.x-bar-h.x-bar-relative.x-bar-outer-spacers {
    box-shadow: none !important;
}

.e859-4.x-bar.x-bar-top.x-bar-h.x-bar-relative.x-bar-outer-spacers {
    box-shadow: none;
}</style>
<!-- end Simple Custom CSS and JS -->
