<!-- start Simple Custom CSS and JS -->
<style type="text/css">
li.sf-field-search input {
    width: 100%;
    height:76px;
    border:none;
}

.page-id-1248 .search-filter-results {
    display: none;
}

li.sf-field-search input::placeholder {color:black; font-weight:100; font-size:14px;}

li.sf-field-search input {color:black; font-weight:100; font-size:14px;padding-left:5%;}

li.sf-field-search label {
    width: 80%;
}

.search-visible {display: block !important;}

div#search-filter-results-1253 article {position:relative;border: solid 1px #CECECE;padding:5%; cursor:pointer;margin-bottom:-30px;}

.search-result-view {position:absolute; right:10%; top:40%;}

div#search-filter-results-1253 article h2 {color:black; font-size:20px !important;}

.search-content {font-size:14px; line-height:24px; width:70%;margin-top:30px; display:none; transition:300ms;}

.search-accordian-active .search-content {display:block;}

.search-accordian-active {border:solid 2px #016CB8 !important;}

.page-id-1248 article#post-1191 {background:none;}

li.sf-field-search {width:100%;}

li.sf-field-submit {width:15%;position:absolute; top:9px; padding:10px 0!impotant;}

form#search-filter-form-1253 ul {position:relative; }

li.sf-field-submit input[type="submit"] {box-shadow:none !important; background-color:#006DB8; border:none !important; font-size:8px; text-transform:uppercase; font-weight:bold; padding:25px 0px; width:100%;border-radius:5px;}

.e1248-14.x-col, .e1248-13.x-row, .e1248-12.x-section, .e1248-17.x-icon{
	z-index:9999999 !important;
}</style>
<!-- end Simple Custom CSS and JS -->
