<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.application-button {
    width: 14%;
    text-align: center;
}

.application-button span {font-size: 10px !important;}

.related-item h3 {color:white; text-transform:uppercase; font-size:20px; font-weight:bold;}

.related-item {text-align:center; background-color:#006DB8; height:270px;border-radius:5px;margin: 1rem;padding-top:100px;}

.heathrow-item {background: url('/wp-content/uploads/2020/01/Heathrow@2x.png'); background-size:cover;}

.page-id-193 .row {
    flex-wrap: nowrap;
}

.page-id-193 .steps-desc .row .col {width:22% !important;}

.case-study-item {background:#006DB8;}

.steps-desc {
    width: 80% !important;
}

.steps-desc .row .col {width:30% !important; }

.related-item h5 {text-align:center; color:white; text-transform:uppercase; font-weight:100;font-size:8px !important;}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
    margin-top:30px;
}

.fly-ash-n-item {background: url(/wp-content/uploads/2020/01/1b8fe86e1aa357c1adc51342c953ea56@2x.png); background-size: cover;}
.fly-ash-s-item {background: url(/wp-content/uploads/2020/01/46b1a741dd27743d793436ddece32123@2x.png);
    background-size: cover;}
.microcem-item {background: url(/wp-content/uploads/2020/01/19fc883dacdac128ba89e7e6367b818d@2x.png);
    background-size: cover;}
.phoenix-item {background: url(/wp-content/uploads/2020/01/c25e79ce138256fac8475dd563048f35@2x-2.png);
    background-size: cover;}
.portland-limestone-item {background: url(/wp-content/uploads/2020/01/52b9b0bbdc54ccf943fd0c8f8f4f9343@2x.png);
    background-size: cover;}
.snowcrete-item {background: url(/wp-content/uploads/2020/01/c91fe326029eb0b8e70865050924af6f@2x.png);
    background-size: cover;}

.ground-granulated-item {background: url(/wp-content/uploads/2020/01/04772796d405f9b64c53fce3d4407b05@2x.png); background-size:cover;}
.ferrocrete-item {background: url(/wp-content/uploads/2020/01/75f5ea085c3f9467e788fe1676701019@2x.png);background-size:cover;}
.portland-cement-item {background: url(/wp-content/uploads/2020/01/b19d4d8df60c323e5708f8328e0d1a7e@2x.png);background-size:cover;}



.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: -30px 0px;
    list-style: none;
    text-align: left;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li.slick-active button:before {
    opacity: 1;
    color: #006DB8;
}
.slick-dots li button:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 1;
    color: #A8A8A8;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}</style>
<!-- end Simple Custom CSS and JS -->
