<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.calc-results-new {
 	display: none !important; 
}

.btn-holder a {
    font-size: 8px !important;
    text-transform: uppercase;
}

.output-bar {
    height: 170px;
}

.output-bar {font-size:12px;}

.output-bar h3 {margin-top:30px !important;}

.output-bar h3:nth-of-type(2) {margin-top:10px !important;}

.output-bar h4 {font-size:12px;margin-top:10px !important;}

.img-holder img {
    margin-top: -20px !important;
    margin-bottom: 0px !important;
}

.img-holder {
    width: 20%;
    display: inline-block;
    margin-right: 30%;
    margin-bottom: 30px;
    vertical-align: top !important;
}</style>
<!-- end Simple Custom CSS and JS -->
