<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.x-row-inner {
    max-width: 1300px !important;
}

.x-container.width {max-width:1300px !important;}

.image-hover .title h1 {font-size:14px !important;}

.all-bulk-prods {height:465px !important; }

e2250-12 .x-row-inner, .e458-3 .x-row-inner, .e1006-2 .x-row-inner, .e440-2 .x-row-inner, .e325-2 .x-row-inner, .e325-12 .x-row-inner, .e317-12 .x-row-inner, .e317-2 .x-row-inner, .e328-2 .x-row-inner, .e328-12 .x-row-inner, .e339-2 .x-row-inner, .e339-12 .x-row-inner, .e356-12 .x-row-inner, .e360-12 .x-row-inner, .e360-2 .x-row-inner, .e332-2 .x-row-inner, .e342-12 .x-row-inner, .e1505-2 .x-row-inner, .e363-2 .x-row-inner, .e367-2 .x-row-inner, .e487-2 .x-row-inner, .e405-2 .x-row-inner, .e1006-2 x-row-inner, .e883-2 .x-row-inner, .e454-2 .x-row-inner, .e938-2 .x-row-inner, .e443-2 .x-row-inner, .e424-2 .x-row-inner, .e801-2 .x-row-inner, .e280-2 .x-row-inner {max-width:110% !important;}

.e307-12 .x-row-inner, .e307-2 .x-row-inner, .e356-2 .x-row-inner, .e347-12 .x-row-inner, .e280-12 .x-row-inner, .e335-12 .x-row-inner, .e2250-2 .x-row-inner {max-width:100% !important; min-width:100% !important;  width:100% !important;}

.e436-2 .x-row-inner, .e312-12 .x-row-inner, .e312-2 .x-row-inner, .e332-12 .x-row-inner, .e342-2 .x-row-inner, .e347-2 .x-row-inner, .e1505-12 .x-row-inner, .e363-12 .x-row-inner, .e208-32 .x-row-inner, .e517-2 .x-row-inner, .e335-2 .x-row-inner, .e2250-12 .x-row-inner {max-width:100% !important; min-width:100% !important; width:100% !important;}

.e1006-4.x-text .x-text-content-text {
    margin: 12vw 1vw 18vw -5vw !important;
}

.e2250-2 > .x-row-inner > *, .e436-2 > .x-row-inner > *, .e307-2 > .x-row-inner > *, .e356-2 > .x-row-inner > *, .e312-2 > .x-row-inner > *, .e342-2 > .x-row-inner > *, .e335-2 > .x-row-inner > * {margin:0 !important;}

.page-id-328 .row, .page-id-197 .row {flex-wrap:nowrap !important;}

.e517-2 > .x-row-inner > * {margin:0 !important;}

.page-id-347 .row {flex-wrap:nowrap !important;}

.page-id-347 .steps-desc .row .col {
    width: 22.5% !important;
}

.page-id-360 .steps-desc .row .col {
    width: 45% !important;
}

.page-id-2250 .steps-desc .row .col {
    width: 45% !important;
}

.x-container.max {
    max-width: 1440px !important;
  width: 75% !important;}

.x-anchor-text-primary {
    font-size: 10px !important;
}

.application-button .x-anchor-text-primary {
    font-size: 6px !important;
}

.e801-74.x-text {
    min-height: 625px;padding-top:270px !important;
}


.page-id-390 .bulk-product-applications .image-hover {
    width: 23%;
    margin: 2% 1%;
}
.page-id-390 .bulk-product-applications {
    width: 100%;
}

.page-id-390 .bulk-product-applications .image-hover .image {background-size:cover !important;}

.page-id-390 .bulk-product-applications .image-hover:hover .details, .page-id-367 .bulk-product-applications .image-hover:hover .details {
    position: absolute;
    bottom: 0;
    top: 0;
    padding: 10px;
    background-color: rgba(0, 49, 116, 0.8);
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.page-id-367 .bulk-product-applications .image-hover {
    transition: 300ms;
    width: 30% !important;
    margin: 1.5% !important;
}

.page-id-367 .bulk-product-applications {
    width: 100%;
}

.all-bulk-prods-apps {
    min-height: 460px;
}
</style>
<!-- end Simple Custom CSS and JS -->
