<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.sf-field-category ul {display:flex; justify-content:space-around; margin-top:50px;}

li.sf-field-category ul li {width:15%;}

li.sf-field-category ul li label {display:none;}

li.sf-level-0.sf-item-19 {display:none;}

li.sf-level-0.sf-item-1 {display:none;}

input[type=checkbox] {height:250px !important;width:100% !important;opacity:0;}

li.sf-level-0.sf-item-15 {background: url('/wp-content/uploads/2020/01/Group-417@2x-3.png');background-size:cover;border-radius:5px;}

li.sf-level-0.sf-item-16 {background: url('/wp-content/uploads/2020/01/Group-421@2x.png');background-size:cover;border-radius:5px;}

li.sf-level-0.sf-item-18 {background: url('/wp-content/uploads/2020/01/Group-418@2x.png');background-size:cover;border-radius:5px;}

li.sf-level-0.sf-item-20 {background: url('/wp-content/uploads/2020/01/Group-420@2x.png');background-size:cover;border-radius:5px;}

li.sf-level-0.sf-item-17 {background: url('/wp-content/uploads/2020/01/Group-419@2x.png');background-size:cover;border-radius:5px;}

form#search-filter-form-1368 h4 {font-size:20px;}

.page-id-1369 input.sf-input-text {background-color:#f7f7f7;}

.page-id-1369 .search-result-view {
    display: none;
}

form#search-filter-form-1368 {
    margin-left: -5%;
}

.filter-active {transform:translatey(30px); transition:300ms;}


.search-visible {display: block !important;}

div#search-filter-results-1368 article {position:relative;border: solid 0px #CECECE;padding:5%; cursor:pointer;margin-bottom:-30px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);}

.search-result-view {position:absolute; right:10%; top:40%;}

div#search-filter-results-1368 article h2 {color:black; font-size:20px !important;}

.search-content {font-size:14px; line-height:24px; width:70%;margin-top:30px; display:none; transition:300ms;}

.search-accordian-active .search-content {display:block;}

.page-id-1369 .search-accordian-active {border:solid 0px #016CB8 !important;}

.page-id-1369 article#post-1191 {background:none;}

li.sf-field-search {width:100%;}

li.sf-field-submit {width:10%;position:absolute; top:10px;right:11%;}

form#search-filter-form-1368 ul {position:relative; }

li.sf-level-0.sf-item-21 {
    display: none;
}

li.sf-level-0.sf-item-22 {
    display: none;
}</style>
<!-- end Simple Custom CSS and JS -->
