<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.wpcf7-mail-sent-ok {
    height:880px;
    font-size: 20px !important;
    position: absolute;
    top: 0;
    width: 90%;
    padding: 20% !important;
    margin-bottom: 1.313em;
border:none !important;
    padding: 0.786em 2.25em 1em 1.15em;
    font-size: 14px;
    line-height: 1.5;
    text-shadow: none !important;
    color: black;
    background-color: #f7f7f7;
    border-radius: 4px;
    box-shadow: none !important;
}

.wpcf7-validation-errors {
    background-color: #f7f7f7;
    color: black;
    width: 80%;
    border: none;
    margin-top: 50px;
    position: relative;
    transform: translateY(30px);
}

select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required {background: url('https://staging.bluecircle.tarmac.force24.co.uk/wp-content/uploads/2020/01/arrow@2x-1.png'); background-repeat:no-repeat; background-position: 96% 15px;    -webkit-appearance: none;
    -moz-appearance: none;
    text-overflow: ''; }

div#wpcf7-f920-p883-o1 {position:relative;}</style>
<!-- end Simple Custom CSS and JS -->
