<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.downloads-head {height:40vh; text-align:center; padding-top:10vh; background-color:#f7f7f7;}

.downloads-container {width:80%; max-width:1440px; margin:0 auto; margin-top:-100px; box-shadow:0px 10px 10px 10px rgba(0, 0, 0, 0.05);}

.downloads-col {width: 49%; display:inline-block; padding:5%;background-color:white;}

.downloads-col h2 {font-size:20px;}

.downloads-col:first-of-type {background-color:#F5F8FB;}

.download-wrap {background-color: #016CB8; width:45%; display:inline-block;margin-top:30px; border-radius:5px; padding:5%;}

.download-wrap h2 {color: white;font-size:12px;}

.download-wrap img {width:80%;margin-top:30px;}

.download-wrap:first-of-type {margin-right:5%;}

.downloads-main-container {
    padding: 7% 15%;
}

.downloads-inner-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  margin-top:80px;
}

.page-id-1079 .search-wrap {
    position: relative;
    border: solid 0px #CECECE;
    padding: 5%;
    cursor: pointer;
    margin-bottom: 30px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.page-id-1079 .search-accordian-active {border:none !important;}

.search-wrap p.download-desc {
    color: white;
    font-size: 10px;
}

.search-wrap .download-wrap {width:23%; overflow:hidden; }

.search-wrap .search-content {width:100%;}

.search-wrap img {width: 100% !important;margin-bottom: -100px;}
</style>
<!-- end Simple Custom CSS and JS -->
