<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.review-inner-container {
    color:black;
    border-radius: 10px;
    background-color:white !important;
    margin-bottom:30px;
    border-left: solid 10px #026bb8;
    padding: 2%;
}

.reviews {background: rgb(0,0,0);
background: -moz-radial-gradient(circle, rgba(0,0,0,0.04665616246498594) 0%, rgba(247,247,247,0) 56%);
background: -webkit-radial-gradient(circle, rgba(0,0,0,0.04665616246498594) 0%, rgba(247,247,247,0) 56%);
background: radial-gradient(circle, rgba(0,0,0,0.04665616246498594) 0%, rgba(247,247,247,0) 56%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#f7f7f7",GradientType=1); padding-top:50px; padding-bottom:0px;}

.review-rating {
    width: 15%;
    display: inline-block;
    vertical-align: top;
    margin-right: 2%;
    margin-bottom:30px;
    text-align:left;
}

.review-rating img {width:100%; }

.review-title {
    display: inline-block;
    margin-top:3px;
    width: 70%;
    font-weight: bold;
}

.review-message {margin-bottom:20px;}

.review-meta {color:#026bb8; font-weight:bold; text-transform:uppercase; font-size:10px; margin-left:25px;position:relative;}

.review-meta:before {content:''; height:2px; width:10px; background-color:#026bb8; position:absolute; left:-15px;top:40%;}

span.avg_rating {margin-left:5%;margin-top:40px;display:inline-block;}

span.avg_rating:after {content:' Average Rating'}

img.avg_rating_image {width:30%;}

.review-wrap {
    margin: 5%;
}

.review-wrap form {margin-top:30px;}

.review-form-col {
    width: 50%;
    float:left;
}

.review-form-col input {width:95%;height:50px;border:1px solid #F0F0F0;box-shadow:none;background-color:rgba(240, 240, 240, 0.4);color:black !important;font-weight:200;font-size:10px;}
.review-form-col select {color:#989898 !important;font-weight:200;font-size:10px;width:95%;height:50px;border:1px solid #F0F0F0;box-shadow:none;background-color:rgba(240, 240, 240, 0.4);}
.review-form-col-full input[type="textarea"] {color:black !important;font-weight:200;font-size:10px; padding-left:5px;height: 140px; width:97.5%;border:1px solid #F0F0F0;box-shadow:none;background-color:rgba(240, 240, 240, 0.4); margin-bottom:30px;position:relative;}

.review-form-col input::placeholder, .review-form-col-full input[type="textarea"]::placeholder {color:#989898 !important;font-weight:200;font-size:10px;}


input[type="submit"] {margin-right:2.5%;width:20%;border:none; box-shadow:none;text-shadow:none; text-transform:uppercase; font-size:10px;padding:15px;border-radius:10px;background-color:#006CB8; font-weight:bold;float:right;}

.review-form-col input[type="text"]:focus {
    border: solid 2px #026bb8;
    box-shadow: none;
}

.review-form-col select:focus {
    border: solid 2px #026bb8;
    box-shadow: none;
}

.review-form-col-full input[type="textarea"]:focus {
    border: solid 2px #026bb8;
    box-shadow: none;
}

.page-id-1661 .inner-img {
    width: 60%;
    margin: 0 auto;
    margin-top: -6vw;
}

.page-id-1661 .image-hover:hover .inner-img {
    width: 40%;
    margin-top: -8vw;
}

.page-id-1661 .image-hover:hover .title-shown {
    top: 2vw;
}


.page-id-1661 .product-is-active .inner-img {
    width: 40%;
    margin-top: -7vw !important;
}

.page-id-1661 .product-content {padding:10%;}

.page-id-1661 .review-c {width:49%;display:inline-block; margin-bottom:40px;}

.page-id-1661 .review-c a {text-align:right;float: right;}


.page-id-1661 img.product-image {
    width: 10%;
    position:absolute; left:-5%;top:10px;
}

.page-id-1661 .review-page-col-1 {
    margin-left:9%;
    width: 20%;
display: inline-block;
vertical-align:top;
text-transform:capitalize;
}

.page-id-1661 .review-page-col-1 img {width:70%;margin-top:20px;}

.page-id-1661 .review-content {
    width: 70%;
    display: inline-block;
    vertical-align:top;
}

.page-id-1661 .review-row {background:white !important; margin-bottom:30px;padding:3%;font-weight:200 !important;position:relative;}

.page-id-1661 .review-content h3 {font-weight:bold;font-size:14px;}

.page-id-1661 .review-content p {font-size:14px;}

.page-id-1661 .filter-col-1 {
    color: black;
}

.page-id-1661  .filter-col-2 {
    color: #707070;
}

.page-id-1661 .product-border {
    color: #0088bf !important;
    border-bottom: solid 2px #0088bf;
}

.page-id-1661 a.read-more-btn {font-size:10px !important; margin-left:30px;}
</style>
<!-- end Simple Custom CSS and JS -->
