<!-- start Simple Custom CSS and JS -->
<style type="text/css">
select#planner-application {
    width: 100%;
    border: none;
    background-color: #f7f7f7 !important;
    box-shadow: none;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 200;
    height: 60px;
  background: url(/wp-content/uploads/2020/01/arrow@2x-1.png);
    background-repeat: no-repeat;
    background-position: 96% 15px;
    -webkit-appearance: none;
  
}</style>
<!-- end Simple Custom CSS and JS -->
