<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.page-id-511 .image-hover:hover, .page-id-801 .image-hover:hover, .page-id-487 .image-hover:hover {
    overflow: visible;
}

.page-id-511 .trade-all-products .image-hover:hover .title-shown, .page-id-801 .trade-all-products .image-hover:hover .title-shown, .page-id-487 .trade-all-products .image-hover:hover .title-shown {
    top: -5vw;
    display: none;
}

.image-hover:hover:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    height: 10px;
    width: 100%;
    border:none !important;
    box-sizing: border-box;
}

.trade-all-products.image-hover:hover {border-radius:10px !important;}

.page-id-511 .trade-all-products .inner-img, .page-id-801 .trade-all-products .inner-img, .page-id-487 .trade-all-products .inner-img {
    transition: 0ms !important;
}


.page-id-511
.page-id-801
.page-id-487</style>
<!-- end Simple Custom CSS and JS -->
