<!-- start Simple Custom CSS and JS -->
<style type="text/css">
@media screen and (max-width:1190px){
  footer .e1199-6.x-menu > li > .x-anchor{
  	margin: 20px 10px;
  }
}

@media screen and (max-width:900px){
  footer #footer-social-links{
  	display:block!important;
    width:100%;
  }
  footer #footer-social-links li{
  	float:left;
  }
  footer span.e1199-7.x-image{
  	display:block!important;
    width:100%;
  }
  footer .e14-5.x-bar-outer-spacers:before, .e14-5.x-bar-outer-spacers:after, .e14-8.x-bar-outer-spacers:before, .e14-8.x-bar-outer-spacers:after{
  	display:none;
  }
}
@media screen and (max-width:860px){
  footer a.x-anchor-menu-item{
    width:auto!important;
  }
}


@media (max-width:1140px) {

footer.x-colophon a.x-anchor-menu-item {
    width: 80px !important;
    margin-right: 10px !important;;
    transition: 300ms;
    font-size: 10px !important;
} 

}

@media (max-width:690px) { 

.e14-5.x-bar.x-bar-footer.x-bar-h.x-bar-relative.x-bar-outer-spacers {
    height: 130px;
}
ul.e14-7 {flex-wrap:wrap !important;}
ul.e14-7.x-menu.x-menu-inline li {width:30% !important;}


.foot-col [type="submit"] {width:auto !important;}

}

@media (max-width:630px) { 

ul.e14-7.x-menu.x-menu-inline li {width:100% !important;}

.e14-7.x-menu > li > .x-anchor .x-anchor-content {
    flex-direction: row !important;
    justify-content: flex-start !important;
    width:25% !important;
    }

    .e14-5.x-bar.x-bar-footer.x-bar-h.x-bar-relative.x-bar-outer-spacers {
    height: 470px !important;
}

.foot-col-outer {
    width: 100% !important;
    margin-top: 20px !important;
}}

@media (max-width:500px) { 


.foot-col {width:100% !important; text-align:center !important;margin-top:10px !important;}

.e14-9.x-bar-container {width: 100% !important;}

a.e14-10.x-anchor.x-anchor-menu-item {
    margin-bottom: -30px !important;
}

}
.eg-item-skin-2-wrapper{
	cursor:pointer!important;
}

input[type=submit]{
    padding: 9px!important;}

</style>
<!-- end Simple Custom CSS and JS -->
