<!-- start Simple Custom CSS and JS -->
<style type="text/css">
ul.product-sidebar-menu {
    position: relative;
    z-index: 999999999999 !important;
}

.e2250-92.x-section, .e328-83.x-section, .e356-94.x-section, .e325-95.x-section, .e339-89.x-section, .e317-89.x-section, .e312-11.x-section, .e360-83.x-section, .e342-5.x-section, .e342-74.x-section, .e342-11.x-section, .e332-11.x-section, .e332-93.x-section, .e280-125.x-section, .e1505-101.x-section, .e317-11.x-section, .e280-11.x-section, .e280-119.x-section, .e335-11.x-section, .e335-97.x-section, .e363-11.x-section, .e363-100.x-section, .e307-11.x-section, .e307-78.x-section, .e1505-11.x-section, .e1505-97.x-section, .e347-11.x-section, .e347-94.x-section,  .e332-82.x-section, .e342-58.x-section, .e360-11.x-section, .e360-84.x-section, .e312-111.x-section, .e317-11.x-section, .e317-85.x-section, .e339-11.x-section, .e339-85.x-section, .e325-11.x-section, .e325-98.x-section, .e356-11.x-section, .e356-76.x-section, .e328-11.x-section, .e328-88.x-section, .e2250-11.x-section, .e2250-90.x-section  {
    position: relative;
    z-index: 99999999999999 !important;
}

.grecaptcha-badge {
    display: none !important;
}


.img-fix-2 img {width:18% !important;}

.img-fix-3 img {width:35%!important;}

.img-fix-5 img {width:50%;}</style>
<!-- end Simple Custom CSS and JS -->
