<!-- start Simple Custom CSS and JS -->
<style type="text/css">
div#wpcf7-f920-p883-o1 .wpcf7-textarea {
  font-size: 10px !important;}

span.wpcf7-form-control-wrap input::placeholder {color:#989898 !important;}

span.wpcf7-form-control-wrap input,  textarea.wpcf7-form-control.wpcf7-textarea {padding-left:30px;}

select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required  {color:#989898 !important;}

textarea.wpcf7-form-control.wpcf7-textarea::placeholder {color:#989898 !important;}

span.wpcf7-form-control-wrap input {font-size:10px !important;}

div#wpcf7-f920-p883-o1 input::placeholder, div#wpcf7-f920-p883-o1 .wpcf7-textarea::placeholder, div#wpcf7-f920-p883-o1 select {
    font-size: 10px !important;
    color: black;
    padding-left: 0px !important;
}

.e955-7.x-row {

  background-color: white !important; }

.wpcf7-form-control-wrap select {
  text-indent: 25px;
}

.col.extra-rapid-cement {
    background-size: cover;

}

.col.site-mixed-concrete {
    background-size: cover;
    background-position: center;
}

.col.multi-purpose-concrete {    background-size: cover;
 }

.page-id-1191 footer.x-colophon {box-shadow:none !important; border-top: none !important; margin-top:50px !important;}

.page-id-405 .steps-desc {
    width: 80% !important;
    margin:  0 auto;
}

.e9-4.x-bar.x-bar-top.x-bar-h.x-bar-relative.x-bar-outer-spacers {
    box-shadow: none !important;
}

.page-id-487 article#esg-grid-8-1-wrap {
    margin-top: -60px !important;
}

.page-id-487.e487-35.x-row.x-container.max.width {
    margin-bottom: 40px !important;
    width: 80% !important;
}

.page-id-280 .steps-desc .row .col {
    width: 22% !important;
}

.e8-4.x-bar.x-bar-top.x-bar-h.x-bar-relative.x-bar-outer-spacers {
    box-shadow: none;
}

.page-id-208 .row, .page-id-222 .row {flex-wrap:nowrap;}

.page-id-208 .steps-desc {
    margin-top: -300px !important;
}

.page-id-208 .col:last-of-type {margin-top:300px;}

.page-id-386 .e367-61.x-col {
    display: flex;
  min-height: 97%; }

.e843-4.x-bar {
    height: 80px;
    font-size: 16px;
    background-color: #ffffff;
    box-shadow: none !important;
    z-index: 9999;
}

.page-id-390 .image-hover .details h5 {font-size:8px;}

.page-id-390 .image-hover h1 {font-size:14px !important;}

.e487-53.x-col p:first-of-type {display:none !important;}

.ff-no-image .ff-content {color:black !important;}

#ff-stream-1, #ff-stream-1 .ff-popup, #ff-stream-1 .ff-search input, #ff-stream-2 {
    background-color: transparent !important;
}

.telp .nav-link {
    text-transform: uppercase;
  transition:300ms;
  padding-top:1.5rem;
  padding-bottom:1.5rem;
  color: rgba(112, 112, 112, 0.5) !important; }

.telp .nav-link:hover {

  color: #006DB8 !important; }

.top-content a {
    font-size: 8px !important;
}

.image-hover a {
    font-size: 8px !important;
}

.social-is-hidden {display:none;}

a.health-more {color:white; text-transform:uppercase; background-color:#006DB8; padding:10px 20px; border-radius:10px;position:absolute; right:10%; bottom:10%;}

a.health-more:hover {color:white !important;}

.case-studies .image-hover .details .content {text-align:right;}

.bulk-products h5 {font-size:8px !important;}

.bulk-products h1 {font-size:14px !important;}

.bulk-products .image-hover:hover {margin-top:-10px; box-shadow: 0px 10px 15px #0f1d2326;}

.image-hover:hover:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 10px;
  width: 100%;
  border: 3px solid blue;
  box-sizing: border-box;
}

.bulk-products .image-hover {transition:300ms;}

.page-id-405 .steps-desc .icon img {position:absolute; top:10px; left:10px;}

.page-id-405 .steps-desc .row .col {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-basis: auto;
    justify-content: center;
    height: 300px;
    width: 30%;}

.page-id-405 .steps-desc .title {margin-top:50px;margin-bottom:15px;}

.page-id-405 .steps-desc p {color:black;}

a.sustain-more {font-size:10px; text-transform:uppercase; position:absolute; right:10%; bottom:10%;}

.quick-view {position:absolute; left:20px; bottom: 20px;}

.read-more {position:absolute; right:20px; bottom: 20px;}

.case-study-1 {background: url(/wp-content/uploads/2020/01/9bf551c53c0d840ef8571cc5bd29c948@2x.png); background-size:cover;}
.case-study-2 {background: url(/wp-content/uploads/2020/01/8bfb407235c64da672d2452baa711987@2x.png);background-size:cover;}
.case-study-3 {background: url(/wp-content/uploads/2020/01/c25e79ce138256fac8475dd563048f35@2x-1.png);background-size:cover;}
.case-study-4 {background: url(/wp-content/uploads/2020/01/a4ab14b56774b6d8b385a2eaf39685c7@2x.png);background-size:cover;}
.case-study-5 {background: url(/wp-content/uploads/2020/01/2ca689a192cbcdd9cdc9ca67f858b0a8@2x.png);background-size:cover;}

.image-hover {overflow:hidden; border-radius:10px !important;}

.image-hover .details .content {
    position: absolute;
    bottom: 0;
    right: 0;
left:0;
    padding: 1rem;
    display: none;
}

.inner-img {width:60%; margin-top:-8vw;}

.image-hover:hover .inner-img {width:50%;margin-top:-17vw; }

.image-hover, .inner-img {transition:300ms;}

.inner-img-outer {text-align:center;}

.title-shown {text-align:center; left:0; right:0; top:25%; position:absolute; transition:300ms;}

.image-hover:hover .title-shown {top: -5vw;}

.title-shown  h1 {
    font-weight: bold;
    color:white !important;
    font-size: 14px !important;
    text-transform: uppercase;
}

.title-shown h5 {
    color: white !important;
    text-transform: uppercase;
    font-size: 8px;
}

.diy-tab-col {width:45%; display:inline-block; vertical-align:top;}

.diy-tab-col iframe {margin-bottom:0px;}

.diy-tab-col .diy-vid {margin-bottom:40px; background-color:#006db8; padding:20px;margin-top: -5px;}

.diy-tab-col .diy-vid h2 {color:white; font-weight:bold; font-size:14px;}

.diy-tab-col:first-of-type {margin-left:2.5%; margin-right:5%;}

.e517-71 .trade-all-products .image-hover {width:30% !important; height:300px;}

.e517-71 .trade-all-products .image-hover .details {height:300px; }

.e517-71 .trade-all-products .image-hover .image {
    height: 300px !important;background-size: cover !important;}

.calc-select {transition:300ms;}

.trade-all-products {
    width: 100%;
}

.e367-24.x-col {
  flex-direction: row !important; }

a.e487-25.x-anchor.x-anchor-button:hover span.x-anchor-text-primary {color:#006CB8 !important;}

.e511-8 .trade-all-products .image-hover {width:45% !important; height:300px !important;}

.e487-26 .trade-all-products .image-hover {width:45% !important; height:300px !important;}

.e511-8 .trade-all-products .image {background-size: cover !important; height:300px !important; }

.e487-26 .trade-all-products .image {background-size: cover !important; height:300px !important; }

.e511-8 .trade-all-products .image-hover:hover .details {
    height: 300px;}

.e487-26 .trade-all-products .image-hover:hover .details {
    height: 300px;}

.calc-option {cursor:pointer;}

ul.product-sidebar-menu {
    width: 100px;
}

.sidebar-menu-container.sticky-element-original.element-is-sticky {width:100px !important;}

.image:focus {outline: none !important;}

.tab-active {border: solid 2px #0088BF; box-shadow: 0px 10px 15px 10px rgba(0, 109, 184, 0.22); }

div#calc-outer {margin-top:80px;width: 100%; margin-bottom:150px !important;display:block;}

div#calc-outer .calc-col {width:23%;float:left; margin-right:2%; text-align:center;}

.calc-select {background-color:white; border-radius:5px; min-height:145px; margin-bottom:30px; position:relative;}

input[type="number"]:active {box-shadow:none !important; border:none !important;}

input[type="number"]:focus {box-shadow:none !important; border:none !important;}

.calc-select p {color:#006DB8; font-size:8px; font-weight:bold;}

.long {min-height:320px;}

.calc-select  h4 {color:#006AB3; font-weight:bold; font-size:12px; padding-top:50px;}

.long h4 {color:#006AB3; font-weight:bold; font-size:12px; padding-top:40px;}

.calc-select input {position:absolute; bottom:30px; left:13%; right:0; width:80%; text-align:center; border:none; box-shadow:none;font-size:30px;color:#006AB3; font-weight:bold;}

.calc-select input::placeholder {font-size:30px;color:#006AB3; font-weight:bold;}

.output-bar {width:100%; background-color:white; clear: both; margin-top:550px; display:block; position:relative;}

.img-holder {width:20%; display:inline-block;margin-right:30%; margin-bottom:30px;}
.img-holder img {margin-top:-150px; margin-bottom:-50px;}

.calc-results-new {width:20%; display:inline-block; text-align:center; color:black;}

.btn-holder {position:absolute; right:5%; top:50px;}

.btn-holder a {padding:20px 10px; border-radius:5px; background-color:#006AB3; color:white; display:block; text-align:center;}

.btn-holder a:hover {color:white !important;}

.calc-results-new h3 {font-size:12px !important;font-weight:bold;margin-top: 50px;}

.calc-results-new p {font-size:10px;}

.calc-results-new span {font-weight:bold;}

.mastercrete-product .details {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: rgba(0, 109, 184, 0.79) !important;

}

.snowcrete-product .details {

    background-color: rgba(255, 255, 255, 0.79) !important;

}

.general-purpose-product .details {
    
    background-color: rgba(210, 191, 152, 0.8) !important;

}


.quality-assured-mortar-product .details {
    
    background-color: rgba(100, 127, 125, 0.79) !important;

}

.rapid-set-mortar-product .details {
    
    background-color: rgba(2, 140, 124, 0.79) !important;

}

.multi-purpose-concrete-product .details {
    
    background-color: rgba(170, 111, 59, 0.81) !important;

}

.procem-product .details {
    
    background-color: rgba(65, 64, 66, 0.79) !important;

}

.quickset-concrete-product .details {
    
    background-color: rgba(235, 108, 6, 0.8) !important;

}

.hydralime-product .details {
    
    background-color: rgba(86, 176, 71, 0.79) !important;

}

.sulfacrete-product .details {
    
    background-color: rgba(226, 93, 26, 0.8) !important;

}

.slablayer-product .details {
    
    background-color: rgba(108, 25, 58, 0.79) !important;

}

.limelite-nhl-product .details {
    
    background-color: rgba(109, 111, 46, 0.79) !important;

}

.limelite-putty-product .details {
    
    background-color: rgba(109, 111, 46, 0.79) !important;

}

.postcrete-product .details {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: rgba(229, 59, 68, 0.8) !important;


}

.extra-rapid-product .details {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: rgba(2, 126, 68, 0.8);


}

.high-strength-product .details {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: rgba(59, 43, 131, 0.79);


}

.quick_repair-product .details {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: rgba(107, 33, 110, 0.8);


}

.trade-all-products .image-hover.quick_repair-product .image {
    height: 225px;
    background-color:rgba(107, 33, 110, 1);
}



.trade-all-products .image-hover {transition:300ms;}

.trade-all-products .image-hover:hover {transform:translateY(-10px); box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);}

.trade-all-products .details {transition:300ms;}

div#popmake-616 {background-color:white; box-shadow:0px 0px 20px 10px rgba(0, 0, 0, 0.06); padding:30px;}

.x-menu {margin: 0 !important;}

a.x-anchor-menu-item {width:100px !important; margin-right:0; transition:300ms; font-size:10px !important;}

.x-masthead a.x-anchor-menu-item:hover {background-color:#006DB8 !important; color:white !important;}

li.nav-item.dropdown {font-size:12px !important; margin-right:40px;}

a.x-always-active {background-color:#006DB8 !important; color:white !important;}

.x-anchor[class*="active"] .x-anchor-text-primary {
    color: white !important;
}

.x-bar-container {padding-left:5%; padding-right:5%;}

.x-container.max {
    max-width: 85% !important;
}

a.e14-7.x-anchor.x-anchor-menu-item:hover span.x-anchor-text-primary, a.e14-10.x-anchor.x-anchor-menu-item:hover span.x-anchor-text-primary {color:#686868 !important;}

.dropdown-menu {margin-top:0px;    margin-right: -8vw;}

.dropdown-menu:before {content: ''; background-color:white; height:30px; width:30px; position:absolute; top:-15px; left: 160px; transform:rotate(45deg) !important;}

a.top-store:before {content:url(/wp-content/uploads/2020/01/store-locator.png); width:30px !important; display:inline-block; text-align:center;}

a.top-calc:before {content:url(/wp-content/uploads/2020/01/Group-178.png);width:30px !important; display:inline-block;text-align:center;}

a.top-reviews:before {content:url(/wp-content/uploads/2020/01/Group-177.png);width:30px !important; display:inline-block;text-align:center;}

a.portal:before {content:url(/wp-content/uploads/2020/01/Group-190.png);width:30px !important; display:inline-block;text-align:center;}

a.top-contact:before {content:url(/wp-content/uploads/2020/01/Group-164.png);width:30px !important; display:inline-block;text-align:center;}

a.top-quality:before {content:url(/wp-content/uploads/2020/01/Group-336.png);width:30px !important; display:inline-block;text-align:center;}

a.top-case:before {content:url(/wp-content/uploads/2020/01/Group-335.png);width:30px !important; display:inline-block;text-align:center;}

a.top-health:before {content:url(/wp-content/uploads/2020/01/Component-7-–-3-1.png);width:30px !important; display:inline-block;text-align:center;}

a.top-tech-portal:before {content:url(/wp-content/uploads/2020/01/Group-190.png);width:30px !important; display:inline-block;text-align:center;}

.telp-nav-dropdown a {
  margin-bottom:5px !important;
    color: #707070;
    font-size: 12px;
}

.telp-nav-dropdown .bottom-links {height:180px !important;}

.foot-col-outer {float:right;text-align: right; width:70vw;}

.foot-col {display:inline-block;width:49%;}

.foot-col input[type="text"] {height:50px; background-color:#f7f7f7; border-color:#F0F0F0; margin-left:10%;width:90%;display:inline-block;border-radius:0px !important;}

.foot-col input[type="text"]::placeholder {font-size:10px; color: #505050 !important;}

.foot-col [type="submit"] {
    color: #505050 !important;
    border-color: transparent !important;
    background-color: transparent  !important;
    margin-bottom: 0.25em;
    text-shadow: none  !important;
    box-shadow: none !important;
    border-radius: 0.25em;
    margin-left:-40px;
    width:30%;
float:right;
  padding:12px 0;
margin-top:5px;
  position: relative;
    z-index: 99999;
}

.bulk-links .image {
    height: 320px;
    background-size:cover !important;

}

.bulk-links a {width:20% !important; transition:300ms;}

.bulk-links a:hover {box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2); transform: translatey(-10px);}

.details h5 {color:white; text-transform:uppercase; font-size:14px;}

.details h1 {font-weight:bold; font-size:20px !important; text-transform:uppercase;}

.bulk-product-applications {
    margin-top: -13px;
}

.bulk-product-applications .image-hover {transition:300ms;}

.bulk-product-applications .image-hover:hover {box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2); transform: translatey(-10px);}

.row .col h2.title {
    font-size: 20px;
    font-weight: 100 !important;
}

.content a {font-size:8px; font-weight:bold;}

a {font-size:14px !important;}

p.content {font-size:14px !important;}

ul.product-sidebar-menu li {font-size:10px; font-weight:bold; text-transform:uppercase; list-style:none;position:relative; margin-bottom:40px; margin-left:10px; width:75px;}

ul.product-sidebar-menu li:before {width:30px; content:''; height:2px; background-color:black; position:absolute; top:5px;left:-40px;}

.page-id-553 .image-hover:hover {box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2); transform: translatey(0px) !important;}

.page-id-1661 .image-hover:hover {box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2); transform: translatey(0px) !important;}

.page-id-202  .steps-desc.four-steps {
    flex-wrap: nowrap;
}

.page-id-202 .steps-desc .row .col {width:22% !important;}

ul.product-sidebar-menu a {font-size:8px !important;}


.e317-33.x-section {
    margin: 0em;
    padding: 0px 0px 0px 0px;
    background-color: #ffffff;
    z-index: 99 !important;
}

/*.bulk-product-applications .image-hover {
    width: 23%;
    margin: 2% 1%;
}
.bulk-product-applications {
    width: 100%;
}*/


.entrance-col.entrance-bulk{
	background-image:url('/wp-content/uploads/2020/02/74e3d0b243ed0f2d134c0c14c2fb1eae-1.png')!important;
}
.entrance-col.entrance-trade {background: url('/wp-content/uploads/2020/04/NEW-PACKED.png')!important; background-size:cover!important;}

.entrance-col.entrance-diy {background: url('/wp-content/uploads/2020/04/Tarmac-Mastercrete-bags-on-line.png')!important; background-size:cover!important;}

@media screen and (max-width:1420px) and (min-width:990px){

.steps-desc .row .col {
  height:320px!important;
}

h2.title {margin-top:80px !important;}
}
@media screen and (max-width:990px){
.steps-desc .row .col {
  height:200px!important;
}
  
  .foot-col{
  	width:100%!important;
  }
}


h1, .h1 {
       font-family: "Gotham",sans-serif !important;
       font-weight: 700 !important;
   }
   h2, .h2 {
       font-family: "Gotham",sans-serif !important;
       font-weight: 500 !important;
   }
   h3, .h3 {
       font-family: "Gotham",sans-serif !important;
       font-weight: 500 !important;
   }
   h4, .h4 {
       font-family: "Gotham",sans-serif !important;
       font-weight: 400 !important;
   }
   h5, .h5 {
       font-family: "Gotham",sans-serif !important;
       font-weight: 500 !important;
   }
   p, .p {
       font-family: "Gotham",sans-serif !important;
       font-weight: 400 !important;
   }</style>
<!-- end Simple Custom CSS and JS -->
