<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.filter-bar-outer {margin-top:-100px; color:white; margin-bottom:30px;}

.filter-col-1 p {font-weight:100; font-size:20px; margin-left:2%;}

.filter-col-1, .filter-col-2 {width:45%; display:inline-block;}

.filter-col-2 ul {list-style:none; text-align:right; margin-right:-15%;}

.filter-col-2 ul li {display:inline-block; margin-left:10%; font-weight:bold; text-transform:uppercase; cursor:pointer;}

.page-id-553 .image-hover, .page-id-1661 .image-hover {cursor:pointer;}

.hide-products {display:none !important;}

.product-border {
    border-bottom: solid 2px white;
}

.page-id-553 #mastercrete-body .top-content {background: url('/wp-content/uploads/2020/01/Group-417@2x.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:10%;}

.page-id-553 #postcrete-body .top-content {background: url('/wp-content/uploads/2020/01/postcrete-bg.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:10%;}

.page-id-553 #snowcrete-body .top-content {background: url('/wp-content/uploads/2020/01/snowcrete-bg.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:10%;}

.top-inner-content {width:70%;}

.read-more-btn {color:white; background-color:#0088BF; padding:15px 40px; text-transform:uppercase; display:inline-block; margin-top:30px; border-radius:5px;}


.page-id-553 #general-purpose-body .top-content {
    background: url(/wp-content/uploads/2020/01/generalpurpose-bg.png) no-repeat;
    background-size: contain;
    background-position: right;
    background-color: white;
    padding: 10%;
}

.page-id-553 #quick_repair-body .top-content {
    background: url(/wp-content/uploads/2020/02/quick-repair-bg-scaled.png) no-repeat;
    background-size: contain;
    background-position: right;
    background-color: white;
    padding: 10%;
}

.page-id-553 #extra-rapid-body .top-content {
    background: url(/wp-content/uploads/2020/01/extra-rapid-bg.png) no-repeat;
    background-size: contain;
    background-position: right;
    background-color: white;
    padding: 10%;
}

.page-id-553 #high-strength-body .top-content {
    background: url(/wp-content/uploads/2020/01/high-strength-bg.png) no-repeat;
    background-size: contain;
    background-position: right;
    background-color: white;
    padding: 10%;
}

.page-id-553 #quality-assured-mortar-body .top-content {
    background: url(/wp-content/uploads/2020/01/mortar-bg.png) no-repeat;
    background-size: contain;
    background-position: right;
    background-color: white;
    padding: 10%;
}

.page-id-511 #multi-purpose-body .top-content {
    background: url(/wp-content/uploads/2020/01/multi-purpose-bg.png) no-repeat;
    background-size: contain;
    background-position: right;
    background-color: white;
    padding: 10%;
}

.page-id-553 #rapid-set-body .top-content {
    background: url(/wp-content/uploads/2020/01/rapidset-bg.png) no-repeat;
    background-size: contain;
    background-position: right;
    background-color: white;
    padding: 10%;
}

.page-id-553 #quickset-body .top-content {
    background: url(/wp-content/uploads/2020/01/quickset-bg.png) no-repeat;
    background-size: contain;
    background-position: right;
    background-color: white;
    padding: 10%;
}

.page-id-553 #sulfacrete-body .top-content {
    background: url(/wp-content/uploads/2020/01/sulfacrete-bg.png) no-repeat;
    background-size: contain;
    background-position: right;
    background-color: white;
    padding: 10%;
}

.page-id-553 #procem-body .top-content {
    background: url(/wp-content/uploads/2020/01/procem-bg.png) no-repeat;
    background-size: contain;
    background-position: right;
    background-color: white;
    padding: 10%;
}

.page-id-553 #slablayer-body .top-content {
    background: url(/wp-content/uploads/2020/01/slablayer-bg.png) no-repeat;
    background-size: contain;
    background-position: right;
    background-color: white;
    padding: 10%;
}

.page-id-553 #hydralime-body .top-content {
    background: url(/wp-content/uploads/2020/01/hydralime-bg.png) no-repeat;
    background-size: contain;
    background-position: right;
    background-color: white;
    padding: 10%;
}

.page-id-553 #limelite-nhl-body .top-content {
    background: url(/wp-content/uploads/2020/01/limelite-nhl.png) no-repeat;
    background-size: contain;
    background-position: right;
    background-color: white;
    padding: 10%;
}

.page-id-553 #limelite-putty-body .top-content {
    background: url(/wp-content/uploads/2020/01/limeputty-bg.png) no-repeat;
    background-size: contain;
    background-position: right;
    background-color: white;
    padding: 10%;
}

.read-more-btn:hover {color:white !important;}

.top-inner-content h2 {color:#9EA0A6; font-size:30px;}

.top-inner-content h3 {color:black; font-size:30px; margin-bottom:20px;}

.top-inner-content p {color:black;font-size:14px !important;}

.product-is-active {margin-top:30px !important;}

button.slick-next.slick-arrow {position:absolute; right:-10%; top:40%;color:transparent;background:#026bb8;border:none;height:30px; width:30px;}

button.slick-next.slick-arrow::before {content:'>'; color:white; font-weight:bold; font-size:20px;height:30px; width:30px;}

button.slick-prev.slick-arrow {position:absolute; left:-10%; top:40%;color:transparent;background:#026bb8;border:none;height:30px; width:30px;}

button.slick-prev.slick-arrow::before {content:'<'; color:white; font-weight:bold; font-size:20px;height:30px; width:30px;}</style>
<!-- end Simple Custom CSS and JS -->
