<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.img-fix img {width:100% !important;min-width:100%!important;}

.page-id-511 .trade-all-products {width:100%;}

.page-id-511 .e511-8 .trade-all-products .image-hover {width:22.5% !important;}

.page-id-511 .trade-all-products .image-hover .image {background-size:cover !important;}

.all-filter-bar-outer {width:100%; margin-top:-40px}

.all-filter-bar-outer ul {list-style:none;}

.all-filter-bar-outer li {display:inline-block; margin: 40px;cursor:pointer; font-weight:bold; text-transform:uppercase;color:#707070;}

.page-id-511 .product-border {color:#0088bf !important; border-bottom: solid 2px #0088bf;}

.page-id-553 .slick-slide img {display:inline-block !important;}

.page-id-553 .image-hover .inner-img {
    width: 60%;
    margin-top: -6vw;
}


.page-id-553 .image-hover:hover .inner-img {
    width: 35%;
    margin-top: -10vw !important;
}

.page-id-553 .image-hover:hover .title-shown {
    top:15% !important;
}

.product-is-active .inner-img {
    width: 35% !important;
    margin-top: -10vw !important;
}

.product-is-active .title-shown {
    top:15% !important;
}

.page-id-335 .review-inner-container{
	border-color:#E42B38;
}
.page-id-307 .review-inner-container{
	border-color:#007E43;
}
.page-id-1505 .review-inner-container{
	border-color:#392A82;
}
.page-id-332 .review-inner-container{
	border-color:#D0B997;
}
.page-id-347 .review-inner-container{
	border-color:#EDEDED;
}
.page-id-363 .review-inner-container{
	border-color:#64807D;
}
.page-id-342 .review-inner-container{
	border-color:#018C7D;
}
.page-id-360 .review-inner-container{
	border-color:#AA6F3C;
}
.page-id-312 .review-inner-container{
	border-color:#414142;
}
.page-id-317 .review-inner-container{
	border-color:#EB6D07;
}
.page-id-339 .review-inner-container{
	border-color:#56B047;
}
.page-id-325 .review-inner-container{
	border-color:#E25D1A;
}
.page-id-356 .review-inner-container{
	border-color:#6C1939;
}
.page-id-328 .review-inner-container{
	border-color:#6D6F2E;
}
.page-id-328 .review-inner-container{
	border-color:#6D6F2E;
}</style>
<!-- end Simple Custom CSS and JS -->
