<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.quick-contact-form {width:300px; background-color:#006cb8; padding:40px; border-radius:10px; position:fixed; right:-360px; bottom:100px;transition:300ms;}

.contact-active {right: 30px !important;}

.quick-contact-form textarea.wpcf7-form-control.wpcf7-textarea.wpcf7-validates-as-required {color:white; height:100px;background-color:transparent !important; border: solid 1px white !important;}

.quick-contact-form input {background-color:transparent !important; border: solid 1px white !important; color:white;}

.quick-contact-form label {color:white; font-size:12px;}

.quick-contact-form input.wpcf7-form-control.wpcf7-submit {width:100%; margin-top:10px; box-shadow:none !important; background-color:white !important; text-transform:uppercase; font-weight:bold; font-size:8px; color:#006cb8; text-shadow:none;height:30px;}

.quick-contact {cursor:pointer;}

.close-quick-contact {position:absolute; top:15px; right:15px; color:white; font-weight:bold; cursor:pointer;}



div#wpcf7-f920-p883-o1 input, div#wpcf7-f920-p883-o1 select, div#wpcf7-f920-p883-o1 .wpcf7-textarea {background-color:#f7f7f7;border:none;box-shadow:none;height:60px;width: 600px;}

div#wpcf7-f920-p883-o1 input::placeholder, div#wpcf7-f920-p883-o1 .wpcf7-textarea::placeholder, div#wpcf7-f920-p883-o1 select {font-size:10px !important; color:black; padding-left:10px;}

div#wpcf7-f920-p883-o1 .wpcf7-textarea::placeholder {padding-top:20px;}

div#wpcf7-f920-p883-o1 .wpcf7-textarea {height:180px;}

div#wpcf7-f920-p883-o1 p {
    width: 600px;
}

div#wpcf7-f920-p883-o1 input.wpcf7-form-control.wpcf7-submit {background-color:#006cb8 !important; text-transform:uppercase; font-weight:bold; font-size:8px; color:white; text-shadow:none; border-radius: 10px;height:50px; padding:15px; width:150px !important; float:right;}</style>
<!-- end Simple Custom CSS and JS -->
