<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.esg-center.eg-post-983.eg-featured-element-3 {
    text-align: left;
    width: 60%;
}

.esg-center.eg-post-983.eg-featured-element-11-a {
    margin-top: -50px !important;
}

.esg-center.eg-post-983.eg-featured-element-0-a {
    text-transform: uppercase;

}

.esg-center.eg-post-983.eg-featured-element-0-a a {

    font-weight: bold !important;
}

.e955-24.x-icon, .e955-21 .x-col, .e955-20 .x-row, .e955-19.x-section{
	z-index:99999!important;
}




.page-id-938 .esg-entry-cover .esg-center { font-size: 1vw; }


@media (max-width: 980px) {


   .page-id-938 .esg-entry-cover .esg-center { font-size: 2.5vw; }


}

@media (max-width: 550px) {

.page-id-938 .eg-post-grid-element-0-a {display:none !important;}}

.eg-post-grid-element-3 {line-height:1em;}
@media (max-width:1190px) and (min-width:980px) {
.esg-bottom * {padding:0px !important; background:none !important;}
}
@media (max-width:1496px) {
.eg-post-grid-element-3 {font-size:14px!important; line-height:16px!important;}
    
}
@media (max-width:1496px) and (min-width:980px) {
.esg-bottom {bottom:0 !important; margin-bottom:10px !important;}
.esg-bottom a {font-size:10px !important;}
    
}
@media (max-width:778px) {
.esg-split-content .esg-entry-cover, .esg-split-content .esg-entry-media-wrapper {
    width: 100%!important;
}
.esg-media-cover-wrapper {
    overflow: visible!important;
    height: auto!important;
}
.mainul li {min-height:420px !important;}
ul.mainul {
    min-height: 400px !important;
}
.esg-overflowtrick {
    overflow: visible !important;
    min-height: 400px !important;
}
.esg-entry-cover {
    min-height: 250px !important;
    padding-top: 30px !important;
}
.esg-cc.eec {top:0px !important;}
}</style>
<!-- end Simple Custom CSS and JS -->
