<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.mobile-menu {
    border-top: solid 3px #f7f7f7;
    position: absolute;
    width: 150%;
    margin-right: -10%;
    background-color: white;
    top: 80px;
    left: -10%;
    right: 0; 
  transition: 300ms; 
  display:none;
  height:85vh;
}

.search {position:absolute; width:100%; padding-left:10%;padding-top:30px; height:80px}

.search a {color:white; font-size:12px; font-weight:bold; text-transform:uppercase;}

.top-half-menu {
    padding: 2% 0 3%;
    padding-left: 10%;
}

@media screen and (max-width:991px){
  .popmake{
  	background-image:none!important;
  }
      article#post-1191{
 		background-size:70%;
        background-position:-10vh right;
      }
    .hentry .e1191-8.x-section{
		padding-top:0px;
    }
    .hentry .x-row-inner .e1191-10{
		margin-bottom:3vh;
    }
    .hentry .x-row-inner .e1191-10 h5{
		text-shadow:1px 1px 1px #ffffff;
    }
	.hentry .x-row-inner .entrance-col{
     	height:20vh;
  	}
	.hentry .x-row-inner .entrance-title{
     	height: auto;
        margin-top: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
  	}
    .hentry .x-row-inner .entrance-col:hover .entrance-title{
		margin-top: -4vh !important;
    }
	.hentry .x-row-inner .entrance-title p{
     	margin-top: 0;
    	margin-bottom: 0;
  	}
    .hentry .x-row-inner .entrance-col:hover .entrance-reveal{
		margin-top:5vh;
    }
    .e367-3.x-col{
    	height:100%;
    }
    .e367-2 > .x-row-inner > *{
    	margin:0!important;
    }
    .e367-2 > .x-row-inner{
    	margin:0!important;
    }
    .page-id-367 .e367-4.x-text{
      	margin: 0 10%!important;
    	padding: 8% 0!important;
    }
    .page-id-367 .e367-4.x-text h1{
      	font-size: 70px!important;
    line-height: 100px!important;
    }
    .page-id-367 .e367-4.x-text h1 span{
      	font-size: 120px!important;
         line-height: 100px!important;
    }
    .page-id-367 .e367-4.x-text > :last-child{
        font-size: 30px!important;
    line-height: 40px!important;
    }
    .e367-2 {
        height: 60vh!important;
        min-height: 0px!important;
    }
    .e843-1.x-bar .x-bar-outer-spacers:before, .x-bar-outer-spacers:after{
		display:none;
    }
    .x-bar-container {
        padding-left: 0px!important;
        padding-right: 0px!important;
    }
  	.mobile-menu-icon{
  		margin-right:10%;
  	}
  .e367-8.x-col{
    padding:0 20px 0 20px!important;
    min-height:130px!important;
  }
  .x-container.max{
 	width:100%!important; 	
  }
  .e367-23.x-anchor{
  margin-left:0!important;}
  .bulk-links .image-hover{
  	width:100%!important;
  }
  .bulk-links a{
  	width:100%!important;
    margin:0 0 20px 0!important;
  }
  .e367-13.x-row{
  	margin: 0 auto 20px auto!important;
  }
  .e367-15.x-row{
  width: 100%!important;
    max-width: 90%!important;}
  .e367-58{
  	margin:0!important;
    max-width:100%!important;
    width:100%!important;
  }
  
}


  
.bottom-half-menu {
    padding: 3% 0 2% 10%;

    background-color: #F7F9FC;
}

.search {background-color:#006DB8;}


.mobile-menu h3 {font-size:12px; color:#006DB8; font-weight:bold; text-transform:uppercase;}

.mobile-menu ul { margin-left:0; list-style:none; color:#707070;}

.mobile-menu ul li {margin-top:15px; text-transform:capitalize;}

.mobile-menu ul a {color:#707070; position:relative;}

.mobile-menu ul a:hover {color:#006DB8; margin-left:20px;}

.mobile-menu ul a:hover:before {content: '>'; position:absolute; left:-20px;}


a.view-all {color:#006DB8; font-size:12px; display:block; margin-bottom:25px; text-transform:capitalize;}

.active-menu {display:block !important; transition: 300ms; }

.mobile-menu-icon, .mobile-menu-icon-close {cursor:pointer;}

.mobile-menu-icon-close {position:absolute; right:-5000px;}

@media (min-width: 995px) {
 
  .mobile-menu-icon {display:none;}
  
  .mobile-menu {display:none !important;}

}

@media (max-width: 995px) {
 
  .navbar {display:none;}
  
}

.hidden-menu-icon {display:none !important;}
.active-menu-icon {position: relative !important; right:0 !important;}


/* mastercrete */

@media (max-width:990px){

.x-row {
    display: flex;
    position: relative;
    flex-flow: column !important;
    justify-content: center;
    align-items: stretch;
}

.x-row-inner {

    display:block !important;
}

ul.product-sidebar-menu {visibility:hidden;}

.steps-desc .col:nth-child(3) {margin-top:0px;}
.page-id-280 .steps-desc .col:nth-child(3) {margin-top:200px;}

.steps-desc .col:nth-child(4) {margin-top:100px !important;}

span.e280-47.x-image {margin-top:30px !important; width:80%; margin: 0 auto; text-align:center;}

.e280-46.x-col {text-align:center;}

.e280-53.x-text {
    margin-top: 30px !important;
    margin-left: 0 !important;
}

a.e280-55.x-anchor.x-anchor-button.application-button {
    margin-top: 30px !important;
}

.diy-tab-col {
    width: 100% !important;
    margin: 0px !important;
}

.diy-tab-col iframe {margin-bottom:30px !important;}

.e280-6.x-row.x-container.max.width {margin-top:-100px !important;}

span.e280-10.x-image {margin: -10vw 10% 10% 10% !important;}

.e280-8.x-text.x-text-headline {margin-top:-10%;}

.quick-contact {bottom:10px !important; right:10px !important;}

i.e280-119.x-icon.quick-contact {font-size:33px !important;}

.e280-119 {
    padding: 5px;
    height: 50px;
    width: 50px;}

.calc-col {
    width: 100% !important;
}

.calc-select.calc-option {width:49%; display:inline-block; vertical-align:top;}

.calc-select.long {min-height:200px !important;}

.img-holder {margin:0 !important; width:40% !important;}

div#related {padding-bottom:0 !important;}

.e280-110.x-col {
    display: none;

}

.e280-82.x-col {text-align:center !important; padding:30px !important; margin-bottom:-30px !important;
 }

.e280-84.x-col {text-align:center !important;margin-bottom:50px !important;}
    
}


/******* PEOPLE *******/

@media (max-width:1200px) {

.e454-3.x-col, .e458-4.x-col, .e461-3.x-col, .e443-3.x-col, .e405-3.x-col {
    margin-bottom: -20px;
    width:50% !important;
    height: 100% !important;
    padding-top: 1%!important;
    padding-bottom: 1%!important;
}
  
  .e405-3.x-col {
    padding-top: 1%;
    padding-bottom: 2%;
}
  .e443-3.x-col {
    padding-top: 2%;
    padding-bottom: 2%;
    width:50% !important;
}


.e405-2 > .x-row-inner > *:nth-child(1n - 0), .e443-2 > .x-row-inner > *:nth-child(1n - 0), .e454-2 > .x-row-inner > *:nth-child(1n - 0), .e458-3 > .x-row-inner > *:nth-child(1n - 0), .e461-2 > .x-row-inner > *:nth-child(1n - 0) {
    flex-basis: 0%!important;
}
  
  .row .col h2.title{
  	font-size:17px!important;
  }
  .four-steps .row .col{
  	height:320px!important;
  }

}

@media (max-width:600px) {

    .e454-3.x-col, .e458-4.x-col, .e461-3.x-col, .e443-3.x-col { 
    margin-bottom: -20px;
    width:50% !important;
    height: 100% !important;
    padding-top: 2% !important;
    padding-bottom: 10% !important;
}
  
  .e405-3.x-col { 
    margin-bottom: -20px;
    width:50% !important;
    height: 100% !important;
    padding-top: 2% !important;
    padding-bottom: 20% !important;
}

.e454-3  h1, .e458-4 h1, .e461-3 h1, .e443-3 h1, .e405-3 h1 {
  font-size:40px !important; line-height:1.2em !important;}

}


/* MAIN SUSTAINABILITY */

@media (max-width:1200px){


.e443-8.x-row {width:100%!important; max-width:95%!important;}


.e443-10.x-text {padding-left:5% !important;}

}

@media (max-width:992px) {

span.e443-39.x-image {
    position: relative;
    margin-top: 0;
    left: 0;
    right: 0;
}

  button.popmake-close{
  	color:#006DB8!important;
  }
  #popmake-874 p { width:100%!important}
span.e443-44.x-image {
    position: relative;
    margin-top: 0;
    left: 0;
    right: 0;
}

span.e443-51.x-image {    position: relative;
    margin-top: 0;
    left: 0;
    right: 0;}

span.e443-56.x-image {    position: relative;
    margin-top: 0;
    left: 0;
    right: 0;}

span.e443-63.x-image {position: relative;
    margin-top: 0;
    left: 0;
    right: 0;}

span.e443-68.x-image {position: relative;
    margin-top: 0;
    left: 0;
    right: 0;}

.e443-48.x-section {padding-top:0px;margin-top:-100px;}

a.sustain-more {position:relative; margin-left:10%;}
    
}

@media (max-width:1200px){


.e405-7.x-row {width:100%!important; max-width:95%!important;}

.e405-10.x-col {
    display: none !important;
}

.e405-9.x-text {padding-left:5% !important;}


.row:last-of-type {margin-top:200px;}

}




@media (max-width:980px) {

.page-id-955 .eg-featured-element-11, .page-id-955 .eg-featured-element-12 {
    font-size: 20px!important;
    line-height: 30px!important;

    
}
    
a.eg-featured-element-1 {font-size:10px !important; padding:15px !important;}

.esg-bottom.eg-post-983.eg-featured-element-1-a {display:none !important;}


}

@media (max-width:600px) {



.esg-center.eg-post-983.eg-featured-element-3 {margin-left:20%;}

a.eg-featured-element-0.eg-post-983.esgbox {margin-left:-50%!important;}


.page-id-955 .eg-featured-element-11, .page-id-955 .eg-featured-element-12 {
    font-size: 20px!important;
    line-height: 30px!important;
    margin-left:-25%;}

}


</style>
<!-- end Simple Custom CSS and JS -->
