<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.title-sustainability {
    text-align: center;
}

.article-banner {background: url(/wp-content/uploads/2020/01/59b433c76f1cf6c1618f02cf37878077@2x-2.png); background-size:cover;}

.planet-banner{background: url(/wp-content/uploads/2020/01/asset-3@2x.png);background-size:cover;}

.performance-banner {background: url(/wp-content/uploads/2020/01/asset-2@2x.png);background-size:cover;}

.solutions-banner {background: url(/wp-content/uploads/2020/01/asset-1@2x.png);background-size:cover;}

.title-sustainability h1 {color:white !important; font-weight:bold; text-transform:uppercase; font-size:20px; margin-top:30%}

.sustainability-slider .image-hover {height:300px !important;margin-top:30px !important;}
</style>
<!-- end Simple Custom CSS and JS -->
