<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.buy-now, .find-stockist {font-size:8px; margin-top:10px;font-weight:bold; text-transform:uppercase; display:inline-block; width:180px; text-align:center; border-radius:10px;display:inline-block; margin-right:1%;}

.pum-content.popmake-content a {font-size: 8px !important;}

.find-stockist {background-color:#006DB8; color:white !important;padding:12px 20px;}

.buy-now {border: 2px solid;padding:10px 20px;}

#popmake-874 {border-radius:10px;background: url('/wp-content/uploads/2020/01/Group-417@2x.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:5%; }

#popmake-874 h3 {color:#777777 !important;}

#popmake-874 p {font-weight:100; width:60%; color:black; line-height:2;}

#popmake-874 .popmake-close {background-color:transparent !important; color:white !important; box-shadow:none; font-weight:200; right:10px;}

#popmake-888 {border-radius:10px;background: url('/wp-content/uploads/2020/01/postcrete-bg.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:5%; }

#popmake-888 h3 {color:#777777 !important;}

#popmake-888 p {font-weight:100; width:60%; color:black; line-height:2;}

#popmake-888 .popmake-close {background-color:transparent !important; color:white !important; box-shadow:none; font-weight:200; right:10px;}

#popmake-890 {border-radius:10px;background: url('/wp-content/uploads/2020/01/extra-rapid-bg.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:5%; }

#popmake-890 h3 {color:#777777 !important;}

#popmake-890 p {font-weight:100; width:60%; color:black; line-height:2;}

#popmake-890 .popmake-close {background-color:transparent !important; color:white !important; box-shadow:none; font-weight:200; right:10px;}

#popmake-893 {border-radius:10px;background: url('/wp-content/uploads/2020/01/high-strength-bg.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:5%; }

#popmake-893 h3 {color:#777777 !important;}

#popmake-893 p {font-weight:100; width:60%; color:black; line-height:2;}

#popmake-893 .popmake-close {background-color:transparent !important; color:white !important; box-shadow:none; font-weight:200; right:10px;}

#popmake-895 {border-radius:10px;background: url('/wp-content/uploads/2020/01/snowcrete-bg.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:5%; }

#popmake-895 h3 {color:#777777 !important;}

#popmake-895 p {font-weight:100; width:60%; color:black; line-height:2;}

#popmake-895 .popmake-close {background-color:transparent !important; color:black !important; box-shadow:none; font-weight:200; right:10px;}


#popmake-898 {border-radius:10px;background: url('/wp-content/uploads/2020/01/generalpurpose-bg.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:5%; }

#popmake-898 h3 {color:#777777 !important;}

#popmake-898 p {font-weight:100; width:60%; color:black; line-height:2;}

#popmake-898 .popmake-close {background-color:transparent !important; color:white !important; box-shadow:none; font-weight:200; right:10px;}


#popmake-900 {border-radius:10px;background: url('/wp-content/uploads/2020/01/mortar-bg.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:5%; }

#popmake-900 h3 {color:#777777 !important;}

#popmake-900 p {font-weight:100; width:60%; color:black; line-height:2;}

#popmake-900 .popmake-close {background-color:transparent !important; color:white !important; box-shadow:none; font-weight:200; right:10px;}


#popmake-902 {border-radius:10px;background: url('/wp-content/uploads/2020/01/rapidset-bg.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:5%; }

#popmake-902 h3 {color:#777777 !important;}

#popmake-902 p {font-weight:100; width:60%; color:black; line-height:2;}

#popmake-902 .popmake-close {background-color:transparent !important; color:white !important; box-shadow:none; font-weight:200; right:10px;}


#popmake-904 {border-radius:10px;background: url('/wp-content/uploads/2020/01/multi-purpose-bg.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:5%; }

#popmake-904 h3 {color:#777777 !important;}

#popmake-904 p {font-weight:100; width:60%; color:black; line-height:2;}

#popmake-904 .popmake-close {background-color:transparent !important; color:white !important; box-shadow:none; font-weight:200; right:10px;}


#popmake-906 {border-radius:10px;background: url('/wp-content/uploads/2020/01/procem-bg.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:5%; }

#popmake-906 h3 {color:#777777 !important;}

#popmake-906 p {font-weight:100; width:60%; color:black; line-height:2;}

#popmake-906 .popmake-close {background-color:transparent !important; color:white !important; box-shadow:none; font-weight:200; right:10px;}

#popmake-908 {border-radius:10px;background: url('/wp-content/uploads/2020/01/quickset-bg.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:5%; }

#popmake-908 h3 {color:#777777 !important;}

#popmake-908 p {font-weight:100; width:60%; color:black; line-height:2;}

#popmake-908 .popmake-close {background-color:transparent !important; color:white !important; box-shadow:none; font-weight:200; right:10px;}

#popmake-910 {border-radius:10px;background: url('/wp-content/uploads/2020/01/hydralime-bg.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:5%; }

#popmake-910 h3 {color:#777777 !important;}

#popmake-910 p {font-weight:100; width:60%; color:black; line-height:2;}

#popmake-910 .popmake-close {background-color:transparent !important; color:white !important; box-shadow:none; font-weight:200; right:10px;}

#popmake-912 {border-radius:10px;background: url('/wp-content/uploads/2020/01/sulfacrete-bg.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:5%; }

#popmake-912 h3 {color:#777777 !important;}

#popmake-912 p {font-weight:100; width:60%; color:black; line-height:2;}

#popmake-912 .popmake-close {background-color:transparent !important; color:white !important; box-shadow:none; font-weight:200; right:10px;}

#popmake-914 {border-radius:10px;background: url('/wp-content/uploads/2020/01/slablayer-bg.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:5%; }

#popmake-914 h3 {color:#777777 !important;}

#popmake-914 p {font-weight:100; width:60%; color:black; line-height:2;}

#popmake-914 .popmake-close {background-color:transparent !important; color:white !important; box-shadow:none; font-weight:200; right:10px;}

#popmake-916 {border-radius:10px;background: url('/wp-content/uploads/2020/01/limelite-nhl.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:5%; }

#popmake-916 h3 {color:#777777 !important;}

#popmake-916 p {font-weight:100; width:60%; color:black; line-height:2;}

#popmake-916 .popmake-close {background-color:transparent !important; color:white !important; box-shadow:none; font-weight:200; right:10px;}

#popmake-918 {border-radius:10px;background: url('/wp-content/uploads/2020/01/limeputty-bg.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:5%; }

#popmake-918 h3 {color:#777777 !important;}

#popmake-918 p {font-weight:100; width:60%; color:black; line-height:2;}

#popmake-918 .popmake-close {background-color:transparent !important; color:white !important; box-shadow:none; font-weight:200; right:10px;}

#popmake-2260 {border-radius:10px;background: url('/wp-content/uploads/2020/02/quick-repair-bg-scaled.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:5%; }

#popmake-2260 h3 {color:#777777 !important;}

#popmake-2260 p {font-weight:100; width:60%; color:black; line-height:2;}

#popmake-2260 .popmake-close {background-color:transparent !important; color:white !important; box-shadow:none; font-weight:200; right:10px;}


.page-id-801 .trade-all-products .image-hover {
    height: 300px;
    width: 30%;
    margin: 1rem;
}

.page-id-801 .trade-all-products .image-hover .image {
    height: 300px !important; }

.page-id-801 .details {
    height: 300px !important; }



div#popmake-1051 {border-radius:10px;background: url('/wp-content/uploads/2020/02/quick-repair-bg-scaled.png') no-repeat; background-size: contain; background-position:right; background-color:white; padding:5%; }

div#popmake-1051 h3 {color:#777777 !important;}

div#popmake-1051 p {font-weight:100; width:60%; color:black; line-height:2;}

div#popmake-1051 .popmake-close {
    background-color: transparent !important;
    color: black !important;
    box-shadow: none;
    font-weight: 600;
    right: 10px;
}

div#popmake-1626 {
    padding: 10%;
}


@media screen and (max-width:990px){
  #popmake-918 .popmake-close, #popmake-916 .popmake-close, #popmake-914 .popmake-close, #popmake-912 .popmake-close, #popmake-910 .popmake-close, #popmake-908 .popmake-close, #popmake-906 .popmake-close, #popmake-904 .popmake-close, #popmake-902 .popmake-close, #popmake-900 .popmake-close, #popmake-898 .popmake-close, #popmake-895 .popmake-close, #popmake-893 .popmake-close, #popmake-890 .popmake-close, #popmake-888 .popmake-close, #popmake-874 .popmake-close{
  	color:#006DB8!important;
  }
}</style>
<!-- end Simple Custom CSS and JS -->
