#calc{
    width: 70%;
    height: auto;
    padding: 15px;
}

#calc-btn{
    width: 100%;
}

.calc-results{
    padding: 15px;
    /*color: rgb(20, 126, 189);*/
    margin: 0px;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
}

#postcrete{
    display: none;
}
#qam{
    display: none;
}

#repointing{
    display: none;
}

#hydralime{
    display: none;
}

#highStrengthConcrete {
    display: none;
}

#slablayer{
    display: none;
}

#snowcrete{
    display: none;
}

#repairConcrete{
    display: none;
}

.repointing-input{
    display: none;
}

.calc-input {
    display: flex;
}
.calc-input .calc-field {
    padding: 1.25rem;
}
.calc-input .calc-field div {
    background-color: #ffffff;
    height: 225px;
    color: #006DB8;
    padding: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.calc-input .calc-field div input {
    border: none;
    box-shadow: none;
    color: #006DB8;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}