/*

Theme Name: Pro &ndash; Child Theme
Theme URI: http://theme.co/pro/
Author: Themeco
Author URI: http://theme.co/
Description: Make all of your modifications to Pro in this child theme.
Version: 1.0.0
Template: pro

*/

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {font-family: 'Montserrat', sans-serif;}

a:hover {
    text-decoration: none !important;
}

/* Components */
.application-button {
    min-width: 105px;
}

.telp .dropdown-menu {
    padding: 0;
    border: 0;
}

.telp .nav-link {
    text-transform: uppercase;
    color: #707070;
    font-weight: bold;
    font-size: 12px;
}

.telp .nav-link:hover {
    color: #006db8;
    cursor: pointer;
}

.telp .nav-link::after {
    display: none;
}

.telp-nav-dropdown {
    padding: 0;
    border: 0;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

/* Bulk */
.telp-nav-dropdown.telp-products .top-links {
    height: 175px;
    background: url('media/images/navigation/products.png');
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
}

.telp-nav-dropdown.telp-applications .top-links {
    height: 175px;
    background: url('media/images/navigation/applications.png');
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
}

.telp-nav-dropdown.telp-sustainability-support .top-links {
    height: 175px;
    background: url('media/images/navigation/sustainability-support.png');
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
}

/* DIY */
.telp-nav-dropdown.telp-products-tools .top-links {
    height: 175px;
    background: url('media/images/navigation/products-tools.png');
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
}

.telp-nav-dropdown.telp-safe-diy .top-links {
    height: 176px;
    background: url('/wp-content/uploads/2020/02/shutterstock_86230687.png');
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
}

.telp-nav-dropdown.telp-about-us .top-links {
    height: 150px;
    background: url('media/images/navigation/about-us.png');
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
}

/* Trade */
.telp-nav-dropdown.telp-about-us-trade .top-links {
    height: 150px;
    background: url('media/images/navigation/about-us-trade.png');
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
}

.telp-nav-dropdown .top-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1.25rem;
}

.telp-nav-dropdown a {
    color: #707070;
}

.telp-nav-dropdown a:hover {
    color: #007ec3;
    text-decoration: none;
    cursor: pointer;
}

.telp-nav-dropdown .top-links a:hover:before {
    content: "> ";
}

.telp-nav-dropdown .bottom-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 130px;
    background-color: #f7f9fc;
    padding: 2rem 0 2rem 1.25rem;
}

/* Stairs */
.steps-desc .row, .steps-asc .row {
    margin-bottom: -200px;
}

.steps-desc.four-steps .row:last-child, .steps-asc.four-steps .row:last-child {
    margin-bottom: 0;
}

.page-id-193 .steps-desc.four-steps .row:last-child, .page-id-193 .steps-asc.four-steps .row:last-child{
	margin-bottom:0!important;
}

.row {
    display: flex;
    margin: 1rem;
}

.row:last-child {
    margin-bottom: 0;
}

.row .col {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-basis: auto;
    justify-content: center;
    height: 300px;
    width: 255px;
    background-color:#ffffff;
    margin: 1rem;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 25px 10px rgba(0,0,0,0.05);
}

.four-steps .row .col {
    height: 240px;
    width: 178px;
}

.row .col h2.title {
    font-size: 20px;
    font-weight: normal;
}

.steps-desc .col:nth-child(2) {
    margin-top: 100px;
}

.steps-desc .col:nth-child(3) {
    margin-top: 200px;
}

.steps-asc .col:first-child {
    margin-top: 200px;
}

.steps-asc .col:nth-child(2) {
    margin-top: 100px;
}

.steps-desc.four-steps .col:nth-child(4) {
    margin-top: 300px;
}
.icon {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 15px;
    background: url('media/images/icons/blank.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.snow {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 15px;
    background: url('/wp-content/uploads/2020/02/snow-1.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.boat {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 15px;
    background: url('/wp-content/uploads/2020/02/boat-1.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.speed-down {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 15px;
    background: url('/wp-content/uploads/2020/02/speed-1.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.speed {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 15px;
    background: url('/wp-content/uploads/2020/02/speed-2.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.spill {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 15px;
    background: url('/wp-content/uploads/2020/02/bag-spill.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.brick-wall {
    height: 40px;
    width: 40px;
    background: url('media/images/icons/brick-wall.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.cloud {
    height: 40px;
    width: 40px;
    background: url('media/images/icons/cloud.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.cloud-download {
    height: 40px;
    width: 40px;
    background: url('media/images/icons/cloud-download.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.cloud-hazard {
    height: 40px;
    width: 40px;
    background: url('media/images/icons/cloud-hazard.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.home {
    height: 40px;
    width: 40px;
    background: url('media/images/icons/home.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.hydration {
    height: 40px;
    width: 40px;
    background: url('media/images/icons/hydration.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.infinite {
    height: 40px;
    width: 40px;
    background: url('media/images/icons/infinite.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.mixer {
    height: 40px;
    width: 40px;
    background: url('media/images/icons/mixer.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.mixer-plus {
    height: 40px;
    width: 40px;
    background: url('media/images/icons/mixer-plus.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.power {
    height: 40px;
    width: 40px;
    background: url('media/images/icons/power.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.pressure {
    height: 40px;
    width: 40px;
    background: url('media/images/icons/pressure.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.roller {
    height: 40px;
    width: 40px;
    background: url('media/images/icons/roller.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.roller-1 {
    height: 40px;
    width: 40px;
    background: url('/wp-content/uploads/2020/02/roller-1.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.search {
    height: 40px;
    width: 40px;
    background: url('media/images/icons/search.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.strength {
    height: 40px;
    width: 40px;
    background: url('media/images/icons/strength.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.temperature {
    height: 40px;
    width: 40px;
    background: url('media/images/icons/temperature.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.tick {
    height: 40px;
    width: 40px;
    background: url('media/images/icons/tick.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.timing {
    height: 40px;
    width: 40px;
    background: url('media/images/icons/timing.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.workability {
    height: 40px;
    width: 40px;
    background-color:#f7f7f7;
    background: url('/wp-content/uploads/2020/01/Path-133.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.grout {
    height: 40px;
    width: 40px;
    background-color:#f7f7f7;
    background: url('/wp-content/uploads/2020/01/Path-135.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.bleeding {
    height: 40px;
    width: 40px;
    background: url('/wp-content/uploads/2020/01/Group-367.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.water {
    height: 40px;
    width: 40px;
    background: url('media/images/icons/water.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.icon.internet {
    height: 40px;
    width: 40px;
    background: url('/wp-content/uploads/2020/01/Group-363@2x.png');
    background-repeat: no-repeat;
    background-size: auto;
}
.icon.pound {
    height: 40px;
    width: 40px;
    background: url('/wp-content/uploads/2020/01/Group-361@2x.png');
    background-repeat: no-repeat;
    background-size: auto;
}
.icon.waste {
    height: 40px;
    width: 40px;
    background: url('/wp-content/uploads/2020/01/Group-362@2x.png');
    background-repeat: no-repeat;
    background-size: auto;
}
.icon.percentage {
    height: 40px;
    width: 40px;
    background: url('/wp-content/uploads/2020/01/Group-364@2x.png');
    background-repeat: no-repeat;
    background-size: auto;
}
.icon.ready {
    height: 40px;
    width: 40px;
    background: url('/wp-content/uploads/2020/02/ready.png');
    background-repeat: no-repeat;
    background-size: auto;
}
    
.col.extra-rapid-cement {
    height: 246px;
    width: 246px;
    background: url('/wp-content/uploads/2020/02/Group-357-1.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.col.site-mixed-concrete {
    height: 246px;
    width: 246px;
    background: url('/wp-content/uploads/2020/02/Group-356-1.png');
    background-repeat: no-repeat;
    background-size: auto;
}

.col.multi-purpose-concrete {
    height: 246px;
    width: 246px;
    background: url('/wp-content/uploads/2020/02/Group-355-2.png');
    background-repeat: no-repeat;
    background-size: auto;
}


.x-tabs.telp-tabs .x-tabs-list button:hover, .e280-42 .x-tabs-list button[class*="active"] {border: none;}
.x-tabs.telp-tabs .x-tabs-list ul {justify-content: center; padding-bottom: 20px;}


/* Image Hover */
.bulk-links .image-hover {
    height: 320px;
    width: 225px;
    margin: 1rem;
}

.bulk-links .image-hover:hover .details {
    height: 320px;
}

.bulk-products .image-hover {
    height: 225px;
    width: 310px;
    margin: 1rem;
}

.bulk-products .image-hover:hover .details {
    height: 225px;
}



.trade-all-products .image-hover {
    height: 225px;
    width: 225px;
    margin: 1rem;
}

.trade-all-products .image-hover .details {
    display: none;
}

.trade-all-products .image-hover:hover .details {
    height: 225px;
    display: flex;
}

.image-hover {
    position: relative;
    float: left;
}

.image-hover .details {
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color:rgba(0, 49, 116, 0.8);
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

}

.image-hover .details .title {
    text-align: center;
    color: #ffffff;
}

.image-hover .details .title h2 {
    margin: 0;
}

.image-hover .details .title h1 {
    margin: 0;
    font-size: 18px;
    color: #ffffff;
}

.image-hover .details .content {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 1rem;
    display: none;
}

.image-hover:hover .details {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.image-hover .details .content a {
    color: #ffffff;
}

.image-hover:hover .details .content {
    display: block;
}

.bulk-links {
    overflow: hidden;
}

.image-hover .image {
    width: 100%;
}

.bulk-links .image-hover.technical-support .image {
    height: 320px;
    background: url('media/images/main-site/bulk/links/technical-support.png');
}

.bulk-links .image-hover.applications .image {
    height: 320px;
    background: url('media/images/main-site/bulk/links/applications.png');
}

.bulk-links .image-hover.product-quality .image {
    height: 320px;
    background: url('media/images/main-site/bulk/links/product-quality.png');
}

.bulk-links .image-hover.case-studies .image {
    height: 320px;
    background: url('media/images/main-site/bulk/links/case-studies.png');
}

.bulk-links .image-hover.health-safety .image {
    height: 320px;
    background: url('media/images/main-site/bulk/links/health-safety.png');
}

.bulk-links .image-hover.sustainability .image {
    height: 320px;
    background: url('media/images/main-site/bulk/links/sustainability.png');
}

.bulk-products .image-hover.ferrocrete-banner .image {
    height: 225px;
    background: url('media/images/bulk-products/banners/ferrocrete-banner.jpg');
    background-size: cover;
}

.bulk-products .image-hover.fly-ash-n-banner .image {
    height: 225px;
    background: url('media/images/bulk-products/banners/fly-ash-n-banner.jpg');
    background-size: cover;
}

.bulk-products .image-hover.fly-ash-s-banner .image {
    height: 225px;
    background: url('media/images/bulk-products/banners/fly-ash-s-banner.jpg');
    background-size: cover;
}

.bulk-products .image-hover.ground-granulated-blastfurnace-slag-banner .image {
    height: 225px;
    background: url('media/images/bulk-products/banners/ground-granulate-blastfurnace-slag-banner.jpg');
    background-size: cover;
}

.bulk-products .image-hover.microcem-ultrafine-cements-banner .image {
    height: 225px;
    background: url('media/images/bulk-products/banners/microcem-ultrafine-cements-banner.jpg');
    background-size: cover;
}

.bulk-products .image-hover.phoenix-banner .image {
    height: 225px;
    background: url('media/images/bulk-products/banners/phoenix-banner.jpg');
    background-size: cover;
}

.bulk-products .image-hover.portland-cement-banner .image {
    height: 225px;
    background: url('media/images/bulk-products/banners/portland-cement-banner.jpg');
    background-size: cover;
}

.bulk-products .image-hover.portland-limestone-cement-banner .image {
    height: 225px;
    background: url('media/images/bulk-products/banners/portland-limestone-cement-banner.jpg');
    background-size: cover;
}

.bulk-products .image-hover.snowcrete-banner .image {
    height: 225px;
    background: url('media/images/bulk-products/banners/snowcrete-banner.jpg');
    background-size: cover;
}

.bulk-product-applications {
    overflow: hidden;
}

.bulk-product-applications .image-hover.architectural-concrete .image {
    height: 225px;
    background: url('media/images/main-site/bulk/applications/architectural-concrete.png');
}

.bulk-product-applications .image-hover.blocks .image {
    height: 225px;
    background: url('media/images/main-site/bulk/applications/blocks.png');
}

.bulk-product-applications .image-hover.concrete-block-paving .image {
    height: 225px;
    background: url('media/images/main-site/bulk/applications/concrete-block-paving.png');
}

.bulk-product-applications .image-hover.dry-mortar-silo .image {
    height: 225px;
    background: url('media/images/main-site/bulk/applications/dry-mortar-silo.png');
}


.bulk-product-applications .image-hover.formulators .image {
    height: 225px;
    background: url('media/images/main-site/bulk/applications/formulators.png');
}

.bulk-product-applications .image-hover.geotechnical .image {
    height: 225px;
    background: url('media/images/main-site/bulk/applications/geotechnical.png');
}

.bulk-product-applications .image-hover.grout .image {
    height: 225px;
    background: url('media/images/main-site/bulk/applications/grout.png');
}

.bulk-product-applications .image-hover.major-contracts .image {
    height: 225px;
    background: url('media/images/main-site/bulk/applications/major-contracts.png');
}

.bulk-product-applications .image-hover.marine .image {
    height: 225px;
    background: url('media/images/main-site/bulk/applications/marine.png');
}

.bulk-product-applications .image-hover.piling .image {
    height: 225px;
    background: url('media/images/main-site/bulk/applications/piling.png');
}

.bulk-product-applications .image-hover.precast .image {
    height: 225px;
    background: url('media/images/main-site/bulk/applications/precast.png');
}

.bulk-product-applications .image-hover.roof-tiles .image {
    height: 225px;
    background: url('media/images/main-site/bulk/applications/roof-tiles.png');
}

.bulk-product-applications .image-hover.soil-stabilisation .image {
    height: 225px;
    background: url('media/images/main-site/bulk/applications/soil-stabilisation.png');
}

.bulk-product-applications .image-hover.sprayed-concrete .image {
    height: 225px;
    background: url('media/images/main-site/bulk/applications/sprayed-concrete.png');
}

.bulk-product-applications .image-hover.tunneling .image {
    height: 225px;
    background: url('media/images/main-site/bulk/applications/tunneling.png');
}

.bulk-product-applications .image-hover.volumetric-concrete .image {
    height: 225px;
    background: url('media/images/main-site/bulk/applications/volumetric-concrete.png');
}

.trade-all-products .image-hover.mastercrete-product .image {
    height: 225px;
    background-color:#018AC1;
}

.trade-all-products .image-hover.postcrete-product .image {
    height: 225px;
    background-color:#E53B44;
}

.trade-all-products .image-hover.snowcrete-product .image {
    height: 225px;
    background-color:white;
}

.trade-all-products .image-hover.general-purpose-product .image {
    height: 225px;
    background-color:#D2BF98;
}

.trade-all-products .image-hover.extra-rapid-product .image {
    height: 225px;
    background-color:#027E44;
}

.trade-all-products .image-hover.high-strength-product .image {
    height: 225px;
    background-color:#3B2B83;
}

.trade-all-products .image-hover.quality-assured-mortar-product .image {
    height: 225px;
    background-color:#707070;
}

.trade-all-products .image-hover.rapid-set-mortar-product .image {
    height: 225px;
    background-color:#018C7D;
}

.trade-all-products .image-hover.multi-purpose-concrete-product .image {
    height: 225px;
    background-color:#AA6F3C;
}

.trade-all-products .image-hover.procem-product .image {
    height: 225px;
    background-color:#414142;
}

.trade-all-products .image-hover.quickset-concrete-product .image {
    height: 225px;
    background-color:#EB6D07;
}

.trade-all-products .image-hover.hydralime-product .image {
    height: 225px;
    background-color:#56B047;
}

.trade-all-products .image-hover.sulfacrete-product .image {
    height: 225px;
    background-color:#E25D1B;
}

.trade-all-products .image-hover.slablayer-product .image {
    height: 225px;
    background-color:#6C193A;
}

.trade-all-products .image-hover.limelite-nhl-product .image {
    height: 225px;
    background-color:#6D702E;
}

.trade-all-products .image-hover.limelite-putty-product .image {
    height: 225px;
    background-color:#6D702E;
}

.e14-7.x-menu > li > .x-anchor .x-anchor-text {
    margin: 0% 5% 5% 5%!important;
}

h1, .h1 {
       font-family: "Gotham",sans-serif !important;
       font-weight: 700 !important;
   }
   h2, .h2 {
       font-family: "Gotham",sans-serif !important;
       font-weight: 500 !important;
   }
   h3, .h3 {
       font-family: "Gotham",sans-serif !important;
       font-weight: 500 !important;
   }
   h4, .h4 {
       font-family: "Gotham",sans-serif !important;
       font-weight: 400 !important;
   }
   h5, .h5 {
       font-family: "Gotham",sans-serif !important;
       font-weight: 500 !important;
   }
   p, .p {
       font-family: "Gotham",sans-serif !important;
       font-weight: 400 !important;
   }

/* Calculator */